@import url("landing/header.css");
@import url("landing/unlimited.css");
@import url("landing/tv.css");
@import url("landing/devices.css");
@import url("landing/kids.css");
@import url("landing/contact.css");
@import url("landing/faq.css");
@import url("landing/footer.css");

:root {
    --bg: #0b0b0f;
    --text: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif ;
    background:
            linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.8) 100%),
            url('/client/assets/images/heroimg.svg') center/cover no-repeat ;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
    color: var(-a-text);
    font-family: 'Poppins', 'Raleway', sans-serif;

}

.landing-container {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}



