@import url("search-panel/sidebar.css");

:root {
    --bg: #0b0b0f;
    /*--text: #fff;*/
}

body {
    background-color: #1a1a1a;
    /*color: var(--text);*/
    font-family: 'Poppins', 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
#search-input{
    border: 1px solid #808080;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
#search-input::placeholder {
    color: #BCBCBC
}

.search-input:focus{
    width: 58px;
    height: 57px;
}
.card.position-relative.border-0 {
    cursor: pointer;
}

.card-body.position-absolute.border-0 {
    top: 270px;
    transition: all 0.3s ease-in-out;
}

.card-body.position-absolute.border-0:hover {
    top: 220px;
    animation: pulse 3s 0.3s infinite;
}