@import 'common/sidebar.css';
@import 'common/header.css';
@import 'common/main-content.css';

.menu-item-active{
  background-color: #58209D;
  color: #fff;
}

.main-content {
  flex: 1;
}

.dashboard-container{
  margin-top: 79px;
  margin-left: 24px;
}
.row.g-3.mt-0 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px; 
}
.dashboard-container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px; /* Kartlar arası məsafə */
}

.dashboard-container .col-lg-3 {
  flex: 1 1 calc(25% - 25px); /* 4 kart bir sırada */
  max-width: calc(25% - 25px);
}

.dashboard-card {
  border: none;
  border-radius: 30px;
  padding: 25px 20px;
  color: white;
  text-align: left;
  background: #2D2D2D;
   /* min-width: 220px; */
 
  /* width: 234px; */
  height: 203px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
  
}

.dashboard-card h5 {
  font-size: 15px;
  font-weight: 500;
  color: #bbb;
  margin: 0;
}

.dashboard-card h3 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 8px;
  color: #fff;
}

/* Hover Effekti */
.dashboard-card:hover {
  background: #7b4eff;
  box-shadow: 0 0 15px rgba(123, 78, 255, 0.6);
  transform: translateY(-5px);
}
