.movies-form {
    width: 899px;
    height: 884px;
    border-radius: 24px;
    background-color: #171616;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: 'Raleway', 'sans-serif';
    font-size: 14px;
    margin: 0 auto;
    padding: 29px;
    font-weight: 400;
}

.form {
    padding-top: 57px;
}


.form-input {
    width: 550px;
    height: 54px;
    border-radius: 12px;
    border: 1px solid #323B54;
    padding: 8px 16px;
    background-color: #0000001A;
    color: #475069;
}

.form-overview {
    width: 549px;
    height: 121px;
    border-radius: 12px;
    border: 1px solid #323B54;
    padding: 8px 16px;
    background-color: #0000001A;

}

.form-category {
    width: 550px;
    height: 54px;
    border-radius: 12px;
    border: 1px solid #323B54;
    padding: 8px 16px;
    background-color: #0000001A;
    position: absolute;

}

.form-svg {
    position: relative;
    left: 520px;
    top: 12px;
}

.img-form {
    padding-left: 84px;
    padding-bottom: 500px;
}


.submit-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.check-area {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox {
    font-weight: 400;
    color: #475069;
    line-height: 16px;
    font-size: 14px;
}

.input-check {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.btn-form {
    width: 92px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #9B51E0;
    background-color: #9B51E0;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    font-style: medium;
    line-height: 100%;
}

