@import 'common/sidebar.css';
@import 'common/header.css';
@import 'common/main-content.css';

.menu-item-active{
    background-color: #58209D;
    color: #fff;
}
.fa-pen-to-square,
.fa-trash {
  font-size: 20px;
  transition: 0.3s ease;
 
}
