.header {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    width: 100%;
    height: 92px;

    padding-top: 24px;
    padding-bottom: 28px;
    padding-left: 48px;
    padding-right: 48px;
    background: transparent;
    z-index: 10;
    position: relative;
    margin: 0 auto;
    

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 48px;
    box-sizing: border-box;
}
.header-img {
    padding-left: 26px;



}
.lan-page-btn {

    border: 1px solid #9B51E0;
    border-radius: 4px;
    padding: 4px 16px;
    color: white;
    background-color: #9B51E0;
    margin-top: 15px;

}
.profile-menu {
 
  display: none;
}
.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; /* şəkil dairənin içindən çıxmasın */
  border: 2px solid white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover; 
}

.dropdown {
  display: none;
  
  right: 0;
  top: 45px;
  background-color: #222;
  border-radius: 8px;
  padding: 10px;
  min-width: 130px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.dropdown a,
.dropdown button {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.dropdown a:hover,
.dropdown button:hover {
  background-color: #333;
}


